<h1>Create new listing</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@user,@listing], :html => { :multipart => true } do |f| %> 
    	<hr>
    	<h3>Help travelers to find the right fit</h3>
    	<p>People searching on Pairbnb can filter by listing basics to find a space that matches their needs.</p>
    	<br/>
    	<h4>Listing</h4>
    	<div class ="row">
	      <div class="row-space-1 col-md-4">
		      <%= f.label :property_type, 'Property Type'%>
		      <%= f.select :property_type, ["House", "Apartment", "Bed & Breakfast", "Loft", "Townhouse", "Condominium", "Bungalow", "Cabin", "Villa", "Castle", "Dorm", "Treehouse", "Boat", "Plane", "Camper/RV", "Igloo", "Lighthouse", "Yurt", "Tipi", "Cave", "Island", "Chalet", "Earth House", "Hut", "Train", "Tent", "Other"], class: 'form-control' %>
		    </div>
		    <div class="row-space-1 col-md-4">
		      <%= f.label :room_type, 'Room Type' %>
		      <%= f.select :room_type, ["Entire home/apt", "Private room", "Shared room"], class: 'form-control' %>
		    </div>
		    <div class="row-space-1 col-md-4">
		      <%= f.label :accommodates, 'Accommodates' %><br/>
		      <%= f.select :accommodates, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16, "16+"], class: 'form-control' %>
		    </div>
      </div>
    	<br/>
    	<h4>Rooms and Beds</h4>
    	<div class ="row">
	      <div class="row-space-1 col-md-4">
		      <%= f.label :bedrooms, 'Bedrooms' %><br/>
		      <%= f.select :bedrooms, ["Studio",1,2,3,4,5,6,7,8,9,10], class: 'form-control' %>
		    </div>
		    <div class="row-space-1 col-md-4">
		      <%= f.label :beds, 'Beds' %><br/>
		      <%= f.select :beds, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16, "16+"], class: 'form-control' %>
		    </div>
		    <div class="row-space-1 col-md-4">
		      <%= f.label :bathrooms, 'Bathrooms' %><br/>
		      <%= f.select :bathrooms, [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, "8+"], class: 'form-control' %>
		    </div>
      </div>
      <br/>
    	<hr>
    	<h3>Tell travelers about your space</h3>
    	<p>Every space on Pairbnb is unique. Highlight what makes your listing welcoming so that it stands out to guests who want to stay in your area.</p>
    	<br/>
      <%= f.label :name, 'Listing Name' %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Be clear and descriptive.' %>
      <br/>
      <%= f.label :description %>
      <%= f.text_area(:description, :size => "50x10", class: 'form-control', placeholder: 'Tell the travelers what you love about the space. You can include details about the decor, the amenities it includes, and the neighborhood.') %>

      <hr>
      <h3>Help guests find your place</h3>
    	<p>Travelers will use this infomation to find a place that's in the right spot.</p>
      <%= f.label :country %>
      <%= f.country_select :country, class: 'form-control' %>
      <br/><br/>
      <%= f.label :address, 'Street Address' %>
      <%= f.text_field :address, class: 'form-control', placeholder: 'House name/number + street/road' %>
      <br/>
      <div class ="row">
	      <div class="row-space-1 col-sm-6">
		      <%= f.label :city, 'City' %>
		      <%= f.text_field :city, class: 'form-control' %>
		    </div>
		    <div class="row-space-1 col-sm-6">
		      <%= f.label :state, 'State' %>
		      <%= f.text_field :state, class: 'form-control' %>
		    </div>
      </div>
      <br/>
      <div class ="row">
	      <div class="row-space-1 col-sm-6">
		      <%= f.label :zip_code, 'ZIP Code' %>
		      <%= f.text_field :zip_code, class: 'form-control' %>
		    </div>
      </div>
      <br/>
      <hr>
      <br/>
      <h3>Photos can bring your space to life</h3>
      <p>Add at least 1 photo of areas guests have access to. You can always come back later to add more.</p>
      <br/>
      <div>
        <%= f.label :photos, "Add photos" %>
        <%= f.file_field :photos, :multiple=> true %>
      </div>
      <hr>
      <br/>
      <%= f.submit "Finish", class:"btn btn-primary"  %>
    <% end %>
  </div>
</div>
