<div class="listing-cover-photo">
</div>
<br/>
<div class="row">
	<div class ="container listings">
		<div class="row">
			<div class="col-md-8">
				<div class="col-md-3">
					<div class="host-profile-pic">Profile pic</div>
					<div><p><%= @listing.user.first_name %></p></div>
				</div>
				<div class="col-md-9">
					<h4><%= @listing.name %></h4>
					<p><%= @listing.state %>, <%= @listing.country %></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<%= form_for [@listing, @reservation] do |f| %> 
						<div class="row">
							<div class = "col-md-4" >
							<%= f.label :check_in, 'Check in' %>
	      			<%= f.text_field :check_in, class: 'form-control', placeholder: "dd/mm/yyyy" %>
							</div>
							<div class = "col-md-4">
								<%= f.label :check_out, 'Check out' %>
		      			<%= f.text_field :check_out, class: 'form-control', placeholder: "dd/mm/yyyy" %>
							</div>
							<div class="row-space-1 col-md-4">
					      <%= f.label :guests_number, 'Guests' %><br/>
					      <%= f.select :guests_number, [1,2], class: 'form-control' %>
					    </div>
						</div>
						<br/>
						<div class="row">
							<div class="col-md-12"><%= f.submit "Request to Book", class:"btn btn-primary btn-booking"  %></div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-8" >
				<h4>About this listing. 
					<% if current_user.id == @listing.user.id %>
						(<%= link_to "Edit Listing", edit_listing_path(@listing) %>) 
					<% end %>
				</h4>
				<p><%= @listing.description %></p>
				<p><%= link_to "Contact Host", user_path %></p>
				<hr>
				<div class="row">
					<h5 class="col-md-4" > The space</h5>
					<ul class="col-md-4" > 
						<li>Accommodates: <%= @listing.accommodates %></li>
						<li>Bathrooms: <%= @listing.bathrooms %></li>
						<li>Bedrooms: <%= @listing.bedrooms %></li>
						<li>Beds: <%= @listing.beds %></li>
					</ul>
					<ul class="col-md-4" >
						<li>Property type: <%= @listing.property_type %></li>
						<li>Room type: <%= @listing.room_type %></li>
					</ul>
				</div>
				<br/>
				<hr>
				<div class="row">
					<h5 class="col-md-4" > Amenities</h5>
					<ul class="col-md-4" > 
						<p>Haven do this!</p>
					</ul>
					<ul class="col-md-4" >
						<p>Haven do this!</p>
					</ul>
				</div>
				<br/>
				<hr>
				<div class="row">
					<h5 class="col-md-4" > Prices</h5>
					<ul class="col-md-4" > 
						<p>Haven do this!</p>
					</ul>
					<ul class="col-md-4" >
						<p>Haven do this!</p>
					</ul>
				</div>
				<br/>
				<hr>
				<div class="row">
					<h5 class="col-md-4" > Prices</h5>
					<ul class="col-md-4" > 
						<p>Haven do this!</p>
					</ul>
					<ul class="col-md-4" >
						<p>Haven do this!</p>
					</ul>
				</div>
			</div>
			<div class="col-md-4" >
				<div class="btn btn-info btn-wishlist">Save to wishlist</div>
			</div>
		</div>
		<hr>
		<div>
			<% @listing.photos.each do |photo| %>
				<%= image_tag(photo.url.to_s) %>
			<% end %>
		</div>
		<br/>
		<hr>
		<div class="row">
			<div class="col-lg-8">
				<div class="col-md-3">
					<div class="host-profile-pic">Profile pic</div>
				</div>
				<div class="col-md-9">
					<p>Member since <%= @listing.user.created_at %></p>
					<p><%= @listing.user.email %></p>
					<div class="btn btn-primary"><%= link_to "Contact Host",  user_path %></div>
				</div>
			</div>
		</div>
	</div>
</div>
