<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'first_name' %>
</div>
<br/>
<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'last_name' %>
</div>
<br/>
<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>
<br/>
<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
<br/>
<div>
	<%= form.label :birthday %><br/>
	<%= form.date_select :birthday, order: [:month, :day, :year] %>
</div>
<br/>
<small>By signing up, I agree to Pairbnb's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</small>


