<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
      <br/>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
      <br/>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br/>

      <%= f.label :birthday %><br/>
      <%= f.date_select :birthday, class: 'form-control' %>

      <br/>
      <br/>
      <input name="_method" type="hidden" value="patch" />
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>